DATABASE_URL="mysql://brianmax_hideoutuser:7fbVnQ{xTvS2@162.241.61.103:3306/brianmax_hideout-forum"
DATABASE_CONNECTION_LIMIT="5"
DATABASE_CONNECT_TIMEOUT="10000"
DATABASE_POOL_TIMEOUT="10000"
SESSION_SECRET="REEMPLAZAR_CON_UNA_CLAVE_LARGA_SEGURA"
