DATABASE_URL="mysql://avnadmin:REEMPLAZAR_PASSWORD@mysql-5503033-forum-hideout.a.aivencloud.com:16946/defaultdb?sslaccept=strict&sslcert=certs/aiven-ca.pem&connect_timeout=30&connection_limit=5"
DATABASE_SSL="true"
DATABASE_CA_PATH="certs/aiven-ca.pem"
DATABASE_CONNECTION_LIMIT="5"
DATABASE_CONNECT_TIMEOUT="30000"
SESSION_SECRET="REEMPLAZAR_CON_UNA_CLAVE_LARGA_SEGURA"
