DATABASE_URL="mysql://avnadmin:REEMPLAZAR_PASSWORD@mysql-5503033-forum-hideout.a.aivencloud.com:16946/defaultdb?sslaccept=strict&sslcert=certs/aiven-ca.pem&connect_timeout=30&connection_limit=5"
DATABASE_SSL="true"
DATABASE_CA_PATH="certs/aiven-ca.pem"
DATABASE_CONNECTION_LIMIT="2"
DATABASE_CONNECT_TIMEOUT="30000"
DATABASE_POOL_TIMEOUT="30000"
# En Vercel, preferi pegar el CA completo en DATABASE_CA_CERT en vez de usar DATABASE_CA_PATH.
# DATABASE_CA_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
# Solo como desbloqueo temporal si no cargas el CA:
# DATABASE_SSL_REJECT_UNAUTHORIZED="false"
SESSION_SECRET="REEMPLAZAR_CON_UNA_CLAVE_LARGA_SEGURA"
