DATABASE_URL="mysql://avnadmin:TU_PASSWORD_REAL@mysql-5503033-forum-hideout.a.aivencloud.com:16946/defaultdb?sslaccept=strict&connect_timeout=30"
DATABASE_SSL="true"
DATABASE_CONNECTION_LIMIT="1"
DATABASE_CONNECT_TIMEOUT="30000"
DATABASE_SOCKET_TIMEOUT="30000"
DATABASE_POOL_TIMEOUT="30000"
DATABASE_CA_CERT="-----BEGIN CERTIFICATE-----\nPEGAR_CERTIFICADO_CA_DE_AIVEN_EN_UNA_LINEA_CON_BARRA_N\n-----END CERTIFICATE-----"
DB_HEALTH_TOKEN="REEMPLAZAR_CON_UN_TOKEN_LARGO_SOLO_PARA_DIAGNOSTICO"
SESSION_SECRET="REEMPLAZAR_CON_UNA_CLAVE_LARGA_SEGURA"
