DATABASE_URL="mysql://2TRGqH2xmR7SwhS.root:jqPt13sQOdWSWv2F@gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com:4000/forum_hideout?sslaccept=strict&sslcert=certs/tidb-ca.pem&connect_timeout=30&connection_limit=5"
TIDB_SSL="true"
TIDB_CA_PATH="certs/tidb-ca.pem"
DATABASE_CONNECTION_LIMIT="5"
DATABASE_CONNECT_TIMEOUT="30000"
SESSION_SECRET="una_clave_larga_segura"
