DATABASE_URL="mysql://avnadmin:REEMPLAZAR_PASSWORD@mysql-5503033-forum-hideout.a.aivencloud.com:16946/defaultdb?sslaccept=strict&connect_timeout=30"
DATABASE_SSL="true"
DATABASE_CONNECTION_LIMIT="1"
DATABASE_CONNECT_TIMEOUT="30000"
DATABASE_POOL_TIMEOUT="30000"
# En Vercel, pegar el CA completo de Aiven como DATABASE_CA_CERT.
# DATABASE_CA_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
# Solo como desbloqueo temporal:
# DATABASE_SSL_REJECT_UNAUTHORIZED="false"
SESSION_SECRET="REEMPLAZAR_CON_UNA_CLAVE_LARGA_SEGURA"
